.main {

    background-color:#F8FAFC;

}

h1{

color:#0057D9;

font-weight:700;

}

h2{

color:#0057D9;

}

h3{

color:#008C95;

}

.stButton>button{

background:#0057D9;

color:white;

border-radius:10px;

height:50px;

font-size:18px;

font-weight:bold;

}

.stButton>button:hover{

background:#008C95;

color:white;

}

section[data-testid="stSidebar"]{

background:#0057D9;

color:white;

}
